<div class="container">
  <mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu" class="toolbar">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="btnMenu('table')">Patients</button>
      <button mat-menu-item (click)="btnMenu('medication')">Medication</button>
    </mat-menu>
  </mat-toolbar>
  <h2>Patient Details</h2>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <h3>Encounter: </h3>
      <input matInput [readonly]="true" value="{{patientEncounter}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <h3>Care Plan: </h3>
      <input matInput [readonly]="true" value="{{patientCarePlan}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <h3>Appointment Info: </h3>
      <input matInput [readonly]="true" value="{{patientAppointment}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <h3>Allergy Intolerance: </h3>
      <input matInput [readonly]="true" value="{{patientAllergyIntolerance}}">
    </mat-form-field>

  </form>
</div>
